@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">Se ha producido un error en el servidor.</h2>

<p class="text-danger">
    No se puede mostrar la página solicitada.
</p>
